<table class= "m-4">
    <tr>
        <th class="pl-2 pr-2 text-center">Stock</th>
        <th class="pl-2 pr-2 text-center">Average Price</th>
        <th class="pl-2 pr-2 text-center">Volume</th>
    </tr>

    <% @stocks.each do |stock| %>
        <tr>
            <td class="pl-2 pr-2 text-center"><%= stock.symbol%> </td>
            <td class="pl-2 pr-2 text-center">$<%= stock.average_price %> </td>
            <td class="pl-2 pr-2 text-center"><%= stock.volume %> </td>
        </tr>
    <% end %>
</table